project:
  type: website
  output-dir: docs

website:
  title: "Carter Vereschagin"
  navbar:
    left:
      - href: index.qmd
        text: About Me
      #- about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

